.App {
    direction: rtl;
    text-align: right;
    background-color: #09B8E2;
    overflow-y: hidden; margin: 0;
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    text-align: right !important;
}

.MuiInputBase-root {
    background-color: white;
    height: 56px;
    padding: 8px;
    border: 2px solid #3F3D56;
    border-bottom: 1px solid #3F3D56;
}

.MuiInputBase-input {
    font-size: 22px;
}

.MuiTypography-colorTextSecondary {
    justify-self: flex-end;
    color: #3F3D56 !important;
    font-size: 22px !important;
}

.MuiFormHelperText-root {
    text-align: center !important;
    color: red !important;
}

.MuiInput-root {
    direction: ltr !important;
}
