.App {
    text-align: right;
    background-color: #09B8E2;
    height: 650px;
    overflow-y: hidden;
}

input {
    text-align: right !important;
}

.MuiRaisedButton-contained {
    background-color: red;
}
